body {
    background-color: white;
    margin: 0;
    text-align: center;
    font-family: "Monsterrat", sans-serif;
}

h1 {
    color: black;
    font-family: "Agrandir"; 
}

h2 {
    color: black;
    font-family: "Agrandir"; 
    text-align: center;
}

.top-box {
    margin-bottom: 80px;

}

.left {
    float: left;
    margin-left: 10%;
    width: 40%;
    margin-bottom: 50px;
    background-color: aquamarine;
}
  
.right {
    float: right;
    margin-right: 10%;
    width: 40%;
    margin-bottom: 50px;
    background-color: aquamarine;
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.hrg {
    width: 200px;
    text-align: left;
    margin-left: 5%;
    background-color: beige;
}

.mozgasos {
    background-color: beige;
    text-align: left;
    width: 250px;
    margin-left: 30%;
}

.manualis {
    background-color: beige;
    width: 210px;
    text-align: left;
    margin-left: 30%;
}

.pszichologia {
    background-color: beige;
    width: 240px;
    text-align: left;
    margin-left: 10%;
}

.logopedia {
    background-color: beige;
    text-align: left;
    width: 200px;
    margin-left: 40%;
}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}