body {
    background-color: white;
    margin: 0;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: larger;
}

h1 {
    color: black;
    font-family: "Agrandir", sans-serif; 
    font-weight: 900;
    font-size: xx-large;
}

h2 {
    color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h3 {
    color: black;
    text-align: center;
    padding-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.top {
    margin-bottom: 80px;
}

.left {
    float: left;
    margin-left: 10%;
    width: 40%;
    margin-bottom: 50px;
}
  
.right {
    float: right;
    margin-right: 10%;
    width: 40%;
    margin-bottom: 50px;
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.hrg {
    width: 250px;
    text-align: left;
    margin-left: 1%;
}

.mozgasos {
    text-align: left;
    width: 250px;
    margin-left: 30%;
}

.manualis {
    width: 210px;
    text-align: left;
    margin-left: 10%;
}

.pszichologia {
    width: 450px;
    text-align: left;
    margin-left: 10%;
}

.logopedia {
    text-align: left;
    width: 250px;
    margin-left: 20%;
}

.iskola {
    text-align: left;
    width: 250px;
    margin-left: 80%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.bottom {
    margin-bottom: 50px;
    margin-top: 50px;
}